{include file="index/header" }
 <section>
     <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-9">
                <div class="news-detail">
                    <h1>{$news.title}</h1>
                    {$news.content}
                </div>
            </div>
            
            {include file="index/right"}
        </div>
     </div>
 </section>
 </body>
 <script src="__JS__/jquery.js"></script>
 <script>
     
 </script>
 </html>